<!-- Services Section -->
    <section id="about">
        <div class="container">
          {% for post in site.categories.site_about %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <p class="intro-text">{{ post.description }}</p>
                </div>
                <div class="max-width-550 centered">
                  <img src="css/site_style/img/{{ post.img }}" class="img-responsive padded">
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
