<!-- Event Info Modals -->
{% for post in site.categories.site_event_info %}
   <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                   <div class="rl">
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <h2>{{ post.title }}</h2>
                           {% if post.img %}
                           <img src="../css/site_style/img/story/family/{{ post.img }}" class="img-responsive img-centered">
                           {% endif %}
                           <hr class="star-primary">
                           <h3>{{ post.topic }}</h3>
                           <p>{{ post.description }}</p>
                           <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
