<section id="rsvp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">RSVP</h2>
                    <h3 class="section-subheading text-muted">Please let us know if/where you will be able to attend :)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="https://formspree.io/daniel.h.loman@gmail.com" method="POST" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name" id="name" required data-validation-required-message="Please enter your name."WW>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" name="_replyto" placeholder="Your Email" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                  <select type="text" class="form-control" name="events" id="events" required data-validation-required-message="Please select an option for events you're able to attend/must decline.">
                                    <option value="" disabled selected hidden>Which event(s)? Can you attend?</option>
                                    <option value="CA">CA</option>
                                    <option value="MN">MN</option>
                                    <option value="MT">MT</option>
                                    <option value="CA_MN">CA & MN</option>
                                    <option value="CA_MT">CA & MT</option>
                                    <option value="MN_MT">MN & MT</option>
                                    <option value="ALL">All the events!</option>
                                    <option value="NONE">Regretfully unable to attend  :_(</option>
                                  </select>
                                  <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" name="message" placeholder="Your Message" id="message"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <input type="text" name="_gotcha" style="display:none" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Send" class="btn btn-xl">Send RSVP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
