<!DOCTYPE html>
<html>

  {% include site_data/head.html %}


    <body id="page-top" class="index">

    {% include site_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Loman Love Tour<br></div>
                <div class="intro-lead-in">Summer 2018</div>
                <div class="intro-lead-in">CA - MN - MT</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include site_data/about.html %}
    {% include site_data/family.html %}
    {% include site_data/events.html %}
    {% include site_data/rsvp.html %}
    <!-- {% include site_data/footer.html %} -->
    {% include site_data/stories.html %}
    {% include site_data/event_info.html %}
    {% include site_data/js.html %}

    </body>
</html>
